body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    
  
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
}

.widget {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    min-height: 300px;
    border-radius: 10px;
    margin: 10px;
}
